{% extends "base.html" %}

{% block title %}
About Cruise Ship Crew Dictionary
{% endblock %}

{% block content %}

<!-- About page -->

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-5">About Cruise Ship Crew Dictionary</h1>
      <p>It is widely known to anyone who has ever worked on a ship, that ship crew have their own language. We come
        from all over the world, from different countries, cultures & languages. However, when we are onboard we are one
        ship, one culture, one crew & one language.</p>
      <p>The objective of this dictionary is to finally centralize all of the great elements of our shared language and
        give it a voice beyond the confines of the crew decks.</p>
      <div class="card" style="width: 100%;">
        <img src="/static/img/lighthouse-2611199_640.jpg" class="card-img-top" alt="lighthouse image">
        <div class="card-body">
          <p class="card-text">Image by <a
              href="https://pixabay.com/users/evgenit-4930349/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2611199">Evgeni
              Tcherkasski</a> from <a
              href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2611199">Pixabay</a>
          </p>
          <blockquote class="blockquote mb-5 card-text">The sea speaks a language polite people never repeat. It is a
            colossal scavenger slang and has no respect."<br> ―Carl Sandburg</blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}