{% extends "base.html" %}

{% block title %}
About Cruise Ship Crew Dictionary
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>About Cruise Ship Crew Dictionary</h1>
            <p>It is widely known to anyone who has ever worked on a ship that ship crew have their own language. We come from all over the world and over time, all of our individual languages have helped shape our common "ship" language.</p>
            <p>The objective of this dictionary is to finally centralize all of the idiosyncrasies of our shared language and give it legitimacy beyond the confines of the crew decks.</p>
        </div>
    </div>
</div>

{% endblock %}