{% extends "base.html" %}

{% block title %}
Cruise Ship Crew Dictionary - Admin Panel
{% endblock %}

{% block content %}

<!-- 

    ADMIN PANEL
    Administrators can change user types between "user", "editor" & "admin"
    to give or remove rights

 -->
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-capitalize mb-5">Admin Panel</h2>
            <p>Please pick a user to change their user type</p>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <form action="" method="POST">

                <!-- Admin Card to select user and set their user type -->
                <div class="card">
                    <div class="card-body row">
                        <div class="col-sm-3">
                            <label class="mr-sm-2" for="user_id">Select user</label>
                            <select class="custom-select mr-sm-2" id="user_id" name="user_id">
                                <option selected>Choose...</option>
                                {% for user in users %}
                                <option value="{{user.user_name}}">{{user.user_name}} - ({{user.user_type}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-9 d-flex flex-row-reverse">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="user_type" id="inlineRadioadmin"
                                    value="admin">
                                <label class="form-check-label" for="inlineRadioadmin">Admin</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="user_type" id="inlineRadioeditor"
                                    value="editor">
                                <label class="form-check-label" for="inlineRadioeditor">Editor</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="user_type" id="inlineRadiouser"
                                    value="user">
                                <label class="form-check-label" for="inlineRadiouser">User</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">Submit user change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>


{% endblock %}