<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}"
        type="text/css">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <link rel="shortcut icon" type="image/jpg" href="/static/img/favicon.ico" />
    <title>{% block title %}{% endblock %}</title>
</head>

<!-- Flexbox code taken from https://stackoverflow.com/questions/40853952/bootstrap-footer-at-the-bottom-of-the-page/40854221 answer by Rober Beckson
        purpose is stick footer to the bottom -->

<body class="d-flex flex-column min-vh-100">

    <!-- Main navigation bar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('dictionary')}}"><img src="/static/img/cruise_ship_nav_brand.png"
                    width="40" height="40" alt="cruise ship navbar brand"> Crew Dictionary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('dictionary')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>

                    <!-- If the user is not logged in they will see Register and Log in -->
                    {% if not session["user"] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('register')}}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}">Log In</a>
                    </li>

                    <!-- If the user is logged in they will see a user tools menu -->

                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User Tools
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('dashboard')}}">Profile
                                Dashboard</a>
                            <a class="dropdown-item" href="{{url_for('submit_word')}}">Submit new word</a>
                            <a class="dropdown-item" href="{{url_for('change_pwd')}}">Change Password</a>
                            <a class="dropdown-item" href="{{url_for('logout')}}">Log Out</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="col-12 text-center">
                <p class="alert alert-info">{{message}}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!-- Main content of the page diplayed in block  -->

    <div class="wrapper flex-grow-1">
        <main class="container">
            {% block content %}

            {% endblock %}
        </main>
    </div>


    <!--  Footer  -->
    <footer class="mt-5">
        <div class="container-fluid">
            <div class="row justify-content-md-center">

                <div class="col-sm-12 col-md-6 text-center">
                    <h4>Mission</h4>
                    <p>
                        The mission of Cruise Ship Crew Dictionary is to provide a central place where cruise ship crew
                        can look up words used by sailors around the world.
                        We welcome all to contribute to this dictionary to make it the best resource for anyone wishing
                        to work in this industry.
                    </p>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-12 col-md-6 text-center">
                    <p><a href="{{url_for('contact')}}">Contact</a> | <a href="#" class="btn-link disabled">Sitemap</a>
                        | <a href="{{url_for('about')}}">About</a></p>
                </div>

                <div class="col-sm-12 text-center">
                    <p>
                        &copy; 2021
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>