{% extends "base.html" %}

{% block title %}
Cruise Ship Crew Dictionary - {{username}} dashboard
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-capitalize mb-5">{{username}} Dashboard</h2>
        </div>
    </div>
<div class="row">
    <div class="col text-center mb-5">
        <a class="btn btn-primary" href="{{url_for('submit_word')}}">Submit a word</a>
        
    </div>
</div>
    <div class="accordion" id="accordionExample">
        {% if user_type == "editor" or user_type == "admin" %}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4>New words pending approval <span class="badge {% if words_to_approve == 0 %} bg-primary {% else %} bg-danger {% endif %} ">{{words_to_approve}}</span> </h4>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {% for word in words %}
                    {% if word.word_status == "pending_approval" %}

                    <div class="card-body">
                        <h4 class="text-capitalize">{{word.word}}</h4>
                        <hr>
                        <p><em><mark>{{word.word_category}}</mark></em></p>
                        <p><span class="font-weight-bold">Definition: </span>{{word.word_definition}}</p>
                        <p><span class="font-weight-bold">Used in a sentence: </span>{{word.word_sentence}}</p>
                        <p class="font-weight-light font-italic">{{word.word_submitted_by}}</p>
                        <div class="row">
                            <div class="col-6">
                                <a href="{{url_for('approve', word_id=word._id)}}" class="btn btn-sm btn-warning">Quick
                                    Approve</a>
                                <a href="{{url_for('edit_word', word_id=word._id)}}" class="btn btn-sm btn-primary">Edit
                                    word</a>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h4>Submitted by me <span class="badge bg-primary">{{words_active}}</span></h4>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse {%if user_type == 'user'%}show{%endif%}" aria-labelledby="headingTwo"
                data-parent="#accordionExample">

                {% for word in words %}
                {% if word.word_submitted_by == username and word.word_status == "approved" %}

                <div class="card-body">
                    <h4 class="text-capitalize">{{word.word}}</h4>
                    <hr>
                    <p><em><mark>{{word.word_category}}</mark></em></p>
                    <p><span class="font-weight-bold">Definition: </span>{{word.word_definition}}</p>
                    <p><span class="font-weight-bold">Used in a sentence: </span>{{word.word_sentence}}</p>
                    <p class="font-weight-light font-italic">{{word.word_submitted_by}}</p>
                </div>

                {% endif %}
                {% endfor %}

            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h4> My words pending approval <span class="badge bg-primary">{{words_pending}}</span></h4>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                {% for word in words %}
                {% if word.word_submitted_by == username and word.word_status == "pending_approval" %}

                <div class="card-body">
                    <h4 class="text-capitalize">{{word.word}}</h4>
                    <hr>
                    <p><em><mark>{{word.word_category}}</mark></em></p>
                    <p><span class="font-weight-bold">Definition: </span>{{word.word_definition}}</p>
                    <p><span class="font-weight-bold">Used in a sentence: </span>{{word.word_sentence}}</p>
                    <p class="font-weight-light font-italic">{{word.word_submitted_by}}</p>
                    <div class="row">
                        <div class="col-6">
                            <a href="{{url_for('edit_word', word_id=word._id)}}" class="btn btn-sm btn-primary">Edit
                                word</a>
                        </div>
                    </div>
                </div>

                {% endif %}


                {% endfor %}

            </div>
        </div>
    </div>



</div>


{% endblock %}